---
layout: default
title: FAQ
subtitle: Fragen und Antworten
---

<section class="content-section bg-light">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">Worum geht es im Projekt?</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>Im Rahmen des Projektes wird ein Pflegeunterstützungsroboter
                    in Praxisumgebung sowie unter wissenschaftlicher Begleitung
                    getestet und weiterentwickelt. Es handelt sich bei dem Projekt
                    <em>nicht</em> um die Einführung eines
                    Pflegeunterstützungsroboters in den beteiligten
                    Altenpflegeheimen.</p>

                <p>Ziel des Projektes ist die praxisnahe Verbesserung von
                    Robotern für mögliche Unterstützungsaufgaben im Bereich der
                    Altenpflege sowie die Identifikation von möglichen Problemen
                    und Herausforderungen.</p>

                <p>Zu den Forschungsfragen zählen unter anderen die soziale und
                    technische Interaktion zwischen Mensch und Roboter, die
                    Weiterentwicklung der Robotik und der künstlichen
                    Spracherkennung sowie Fragen der technischen Sicherheit.</p>
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-gray">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">In welchen Bereichen wird der Roboter eingesetzt?</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>Lio ist ein Pflegeunterstützungsroboter, kein Pflegeroboter.
                    Er wird keine direkten Pflegeaufgaben am Menschen
                    wahrnehmen.</p>

                <p>Lio wird überwiegend soziale und Service-Aufgaben
                    wahrnehmen: Begrüßung und Unterhaltung von Personen, Getränke
                    und Speisen bringen sowie zum Trinken/Essen auffordern, zu
                    Bewegungsübungen anleiten, Spiele spielen, Auskünfte geben.
                    Darüber hinaus soll Lio als Unterstützung der Nachtwache
                    eingesetzt werden. Für den späteren Verlauf des Projektes sind
                    unter anderem eine Dolmetscherfunktion sowie die Erkennung von
                    Notfällen und Alarmierung von Pflegepersonal vorgesehen.</p>

                <p>Die Interaktion mit Lio ist für alle Bewohnerinnen und
                    Bewohner der beteiligten Altenpflegeheime freiwillig. Bei allen
                    seinen Einsätzen wird Lio von geschultem Personal begleitet und
                    überwacht.</p>
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-light">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">Wer ist an dem Projekt beteiligt?</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>Die Erprobung von Lio wird in der Caritas-Altenhilfe für die
                    Region Konstanz (St. Marienhaus) sowie dem Alterszentrum
                    Emmersberg in Schaffhausen durchgeführt.</p>

                <p>Wissenschaftlich begleitet wird das Projekt durch die
                    Universität Konstanz (Prof. Dr. Marcel Waldvogel, Prof. Dr.
                    Oliver Deussen, Fachbereich Informatik und
                    Informationswissenschaften) sowie durch die Fachhochschule
                    Vorarlberg in Dornbirn (Prof. Dr. Guido Kempter, Dr. Katrin
                    Paldán, Forschungszentrum Nutzerzentrierte Technologien).</p>

                <p>Die Pflegeunterstützungsroboter wurden durch die Firma
                    <a href="https://www.fp-robotics.com">F&amp;P Robotics</a>
                    hergestellt und werden über die Projektdauer in Zusammenarbeit
                    weiterentwickelt.</p>

                <p>Das Projekt wird im Rahmen des Förderprogrammes Interreg
                    Alpenrhein-Bodensee-Hochrhein gefördert.</p>
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-gray">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">Welche Entwicklungsschritte sind geplant?</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <ul>
                    <li>Phase 1: Begrüßung, Auskünfte geben, Getränke anbieten,
                        Persönliche Ansprache, Geschichten erzählen, Aufforderung zur
                        Bewegung, Getränke bringen, Aufforderung zum Trinken,
                        Bewohner-Erkennung im kleinen Nutzerkreis.</li>

                    <li>Phase 2: Spiele spielen, Schwesternruf, Meldungen an Pflegepersonal.</li>

                    <li>Phase 3: Getränkeaufnahme kontrollieren, Bewohner-Erkennung mit erweitertem Nutzerkreis,
                        Videoanruf mit Pflegepersonal.</li>

                    <li>Phase 4: Snacks anbieten und bringen, Begleitung, Dolmetscherfunktion, Erkennung aller
                        teilnehmender Bewohner, Ermittlung Vitalzeichen, Kontrolle der korrekten Sitzposition.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-light">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">Gibt es Material für Pressearbeit?</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>Folgendes Material kann mit entsprechenden Copyright
                    Vermerken für Veröffentlichungen aller Art genutzt werden. Für
                    weitere Fragen oder Material, nehmen Sie bitt <a href="contact.html">Kontakt</a> mit uns auf.</a>
                </p>

                <div class="row">
                    {% for press_hash in site.data.press %}
                    {% assign press_key = press_hash[0] %}
                    {% assign press = site.data.press[press_key] %}
                    <div class="col-sm-4 mb-3">
                        <a href="assets/img/press/{{press_key}}.jpg">
                            <img src="assets/img/press/{{press_key}}.thumbnail.jpg" class="card-img-top"
                                alt="{{press.title}}">
                        </a>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">&copy; {{press.copyright}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-gray">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">Wurde über Lio schon in der Presse berichtet?</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>Unser Projekt freut sich großer Beliebtheit und daher wird
                    regelmäßig über Lio und unsere Studien berichtet. Folgend finden
                    Sie eine Auswahl von Veröffentlichungen.</p>

                <ul>
                    {% for publication in site.data.publications %}
                    {%if publication.url %}
                    <li><a href="{{publication.url}}">{{publication.title}}</a>, {{publication.publisher}},
                        <em>{{publication.date}}</em></li>
                    {% else %}
                    <li>{{publication.title}}, {{publication.publisher}},
                        <em>{{publication.date}}</em></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>