body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include body-font;
}

.space-1 {
  height: 3rem;
}

.space-2 {
  height: 3rem;
}

.space-3 {
  height: 3rem;
}

.img-circle {
  border-radius: 50%;
}

// Custom Button Size
.btn-xl {
  padding: 1.25rem 2.5rem;
}

// Content Section
.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.bg-gray {
  background-color: #eaeaea;
}

.content-section-heading {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  overflow-wrap: break-word;
  hyphens: manual;
  hyphens: auto;
}

.text-faded {
  color: fade-out($white, 0.3);
}

/* Map */

.map {
  height: 30rem;
}

@media(max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;

  &:focus,
  &:hover {
    color: white;
  }

  &:hover {
    background: $gray-800;
  }

  i {
    font-weight: 800;
  }
}

.member {
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  padding: 3rem 0 1.5rem 0;
  margin: 1rem;

  &--selected {
    background-color: #eaeaea;
    box-shadow: 0 0 10px #d4d4d4;
    border-color: #d1d1d1;
  }

  &__avatar {
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  &__name {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
}